/ Banner
%section#mini_header.dark
    %header
        = link_to 'Лого'
/ Nav
%nav#nav.default
    %ul
        %li= link_to 'Лого', root_path
        %li= link_to 'Мы предлагаем', root_path(anchor: 'services')
        %li= link_to 'Наши работы', root_path(anchor: 'gallery')
        %li= link_to 'О нас', root_path(anchor: 'about_us')
        %li= link_to 'Контакты', root_path(anchor: 'contacs')
