/ Nav
%nav#nav
    %ul
        %li= link_to 'Лого', '#'
        %li= link_to 'Мы предлагаем', root_path(anchor: 'services')
        %li= link_to 'Наши работы', root_path(anchor: 'gallery')
        %li= link_to 'О нас', root_path(anchor: 'about_us')
        %li= link_to 'Контакты', root_path(anchor: 'contacs')
/ Banner
%section#header.dark
    %header
        %h1 Cakes App
        %p Добро пожаловать на наш сайт 
        = link_to 'Лого'
        
