<!-- Galery -->
    <div class="main">
      <div class="container">
        <section class="gallery">
          <div class="title">
            <h2>Наши работы</h2>
          </div>
          <div class="frame-block-holder frame-block-holder--full">
            <div class="frame-decor">
              <img src="images/frame-top.png" alt="top-frame">
            </div>
            <div class="frame-block frame-block--full">
              <% @pictures.in_groups_of(3).each do |pictures| %>
              <% pictures.select! {|x| !x.nil?} %>
              <ul class="frame-block__images">
              	<% pictures.each do |picture| %>
                <li>
                  <% if picture.picimage_stored? %>
                    <%= link_to picture.picimage.remote_url, class: 'fancybox', rel: 'gallery', title: picture.pic_name do %><% end %>
                    <%=	image_tag picture.picimage.url, :class => 'image fit', alt: picture.pic_name %>
                  <% else %>
                    <%= image_tag 'no_image.png' %>
                  <% end %>
                  <!--<p><%= picture.pic_name %></p>-->
                  <!--<p><%= picture.pic_description %></p>-->
                </li>
                <% end %>
              </ul>
              <% end %>
            </div>
            <div class="frame-decor">
              <img src="images/frame-bottom.png" alt="bottom-frame">
            </div>
          </div>
        </section>
      </div>
    </div>