
<!-- Second -->
		<section id="second" class="main">
			<header>
				<div class="container">
						<h2>Название альбома</h2>
						<p>Описание альбома</p>
				</div>
			</header>
			<div class="content dark style2">
				<div class="container">
					<div class="row">
							
								
						

							<% @pictures.in_groups_of(3).each do |pictures| %>
							<% pictures.select! {|x| !x.nil?} %>
								<div class="row no-collapse">
									<% pictures.each do |picture| %>
										<div class="6u">
											
												<% if picture.picimage_stored? %>
    													<%= link_to picture.picimage.remote_url, class: 'fancybox', rel: 'gallery', title: picture.pic_name do %> 
    													<%=	image_tag picture.picimage.url, :class => 'image fit', alt: 'Photo' %>
    												<% end %>
												<% else %>
    												<%= image_tag 'no_image.png' %>
												<% end %>
											
											<p><%= picture.pic_name %></p>
  											<p><%= picture.pic_description %></p>
										</div>
									<% end %>
								</div>
							<% end %>
						

								
								<!--</div>-->
							
					</div>
				</div>
			</div>
		</section>

