<script>
$('#with_button').hide()
$('#load_more_pictures').show()
$('#load_more_pictures form').after('<button class="btn btn-primary btn-large btn-clone disabled" style="display: none;">More pics</button>')
$('#load_more_pictures').click ->
$('#load_more_pictures').find('form').hide().siblings('button').show()

$('.pictures').append('<%= j render @pictures %>').siblings('#load_more_pictures').find("button").hide().siblings('form').show();
<% unless @pictures.next_page %>
$('#load_more_pictures').remove();
<% end %>

</script>
<!-- Second -->
		<section id="second" class="main">
			<header>
				<div class="container">
						<h2>Название альбома</h2>
						<p>Описание альбома</p>
				</div>
			</header>
			<div class="content dark style2">
				<div class="container">
					<div class="row">
							
								
						

							<% @pictures.in_groups_of(3).each do |pictures| %>
							<% pictures.select! {|x| !x.nil?} %>
								<div class="row no-collapse">
									<% pictures.each do |picture| %>
										<div class="image_box">
											
												<% if picture.picimage_stored? %>
    													<%= link_to picture.picimage.remote_url, class: 'fancybox', rel: 'gallery', title: picture.pic_name do %> 
    													<%=	image_tag picture.picimage.url, :class => 'image fit', alt: picture.pic_name %>
    												<% end %>
												<% else %>
    												<%= image_tag 'no_image.png' %>
												<% end %>
											
											<p><%= picture.pic_name %></p>
  											<p><%= picture.pic_description %></p>
										</div>
									<% end %>
								</div>
							<% end %>
						
						<% if @pictures.next_page %>
							<div id="load_more_pictures">
    							<%= button_to 'More pics', {action: "show", new_req: true }, method: :get, remote: true, class: "btn btn-primary btn-large" %> 
							</div>
						<% end %>

						<a href="">Загрузить еще</a>
								
								<!--</div>-->
							
					</div>
				</div>
			</div>
		</section>

