<!DOCTYPE html>
<html>
<head>
  <title>CakesApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



</head>
<body>
	
	<!-- Header -->
		<% if current_page?(root_path) %>
      		<%= render 'shared/main_header' %>
    	<% else %>
      		<%= render 'shared/header' %>
    	<% end %>

    <!-- Main -->

<%= yield %>


	<!-- Footer -->
		<%= render 'shared/footer' %>

</body>
</html>
